* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
html,
body,
#app {
  background: #0079BF;
  height: 100%;
  width: 100%;
}
.kanban-board {
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
  height: 100%;
  padding: 10pt;
  overflow-y: hidden;
}
.kanban-board .kanban-column {
  background: #e2e4e6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-right: 5pt;
  width: 250px;
  min-width: 250px;
  overflow: hidden;
  max-height: 100%;
}
.kanban-board .kanban-column .wrapper {
  margin: 0 5px;
  padding: 0 5px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.kanban-board .kanban-column header {
  padding: 10px;
  display: block;
  font-weight: bold;
  font-size: 120%;
}
.kanban-board .kanban-column footer {
  flex-shrink: 0;
}
.kanban-board .kanban-column .create-card-link {
  padding: 10px;
  cursor: pointer;
}
.kanban-board .kanban-column .create-card-link:hover {
  background-color: #CDD2D4;
  color: #4d4d4d;
  text-decoration: underline;
}
.kanban-board .kanban-column .create-card {
  padding: 5px 10px;
}
.kanban-board .kanban-column .create-card .kanban-card {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.kanban-board .kanban-column .create-card textarea {
  width: 100%;
  border: none;
  padding: 10px;
}
.kanban-board .kanban-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  font-size: 10pt;
  margin: 5pt 0;
  padding: 7pt;
  transition: transform 0.2s ease-out;
}
.kanban-board .kanban-card:hover {
  background: #edeff0;
}
.is-dragging .kanban-board .kanban-card:hover {
  background: #fff;
}
.kanban-board .kanban-card.ui-sortable-helper {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  transform: rotate(5deg);
}
.placeholder {
  background: #ccc !important;
  border-radius: 3px !important;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4) !important;
  height: 33.6563px !important;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  background: #e2e4e6;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  padding: 10pt;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
